<%= form_for :task, url: tasks_path do |f| %>
  <p>
    <%= f.label :loading_point %><br>
    <%= f.text_field :loading_point%>
  </p>

  <p>
    <%= f.label :booking_number %><br>
    <%= f.text_field :booking_number %>
  </p>


  <p>
    <%= form_tag("/search", method: "get") do %>
        <%= label_tag(:q, "Search for User:") %><br>
        <%= text_field_tag(:q) %>
        <%= submit_tag("Search") %>
    <% end %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>