<h1>Listing Users</h1>

<table class="table">
  <tr>
    <th>User Name</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Role</th>
  </tr>

  <% @users.each do |user| %>
      <tr<%=  user_path( :id =>user.user_name) %>">
        <td><%= link_to user.user_name, user_path(:id =>user.user_name) %></td>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.get_role() %></td>
      </tr>
  <% end %>
</table>